.container {
    @extend %container;

    @media screen and (min-width: 48rem) {
        max-width: 76.8rem;
    }
}

.container--flex {
  @media screen and (min-width: 48rem) {
    display: flex;
    flex-wrap: wrap;
  }
}
