.page-section__hero {
  font-family: $main-font-family;
  padding-top: 11.8rem;
  padding-bottom: 11.8rem;
  min-width: 32rem;
  max-width: 76.8rem;
  text-align: center;

  // background-size: 100% 100%;
  background-size: cover;

  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-our-company_480x400@1x.jpg);

  background-repeat: no-repeat;
  background-position: center center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-our-company_480x400@2x.jpg);
  }

  @media screen and (min-width: 48rem) {
    min-width: 76.8rem;
    max-width: 120rem;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-our-company_768x400@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-our-company_768x400@2x.jpg);
    }
  }

  @media screen and (min-width: 75rem) {
    min-width: 120rem;
    max-width: 100%;
    background-size: 160rem;
    padding-top: 20rem;
    padding-bottom: 20rem;

    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-our-company_1600x600@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-our-company_1600x600@2x.jpg);
    }
  }
}

.page-section__hero-title {
  max-width: 36rem;
  margin-top: 0;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.616;
  font-size: 2.6rem;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 75rem) {
    max-width: 69.6rem;
    font-size: 4.4rem;
    line-height: 1.36;
  }
}
