.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    height: 100vh;
    font-family: $main-font-family;
    letter-spacing: 0.02em;

    background: $white-color;
    color: $font-accent-secondary-color;
    transform: translate(100%, 0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &.is-open {
        transform: translate(0%, 0%);
    }

    @media screen and (min-width: 30rem) {
        text-align: left;
        padding-left: 4rem;
    }

    @media screen and (min-width: 48rem){
        display: none;
    }
}


.mobile-nav__list {
    @extend %list;
}

.mobile-nav__item {
    &:not(:last-child) {
        margin-bottom: 3.2rem;
    }
}

.mobile-nav__link {
    @extend %link;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.175;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &--active,
    &:hover,
    &:focus {
        color: $font-accent-color;
    }
}

.mobile-contacts {
    margin-top: auto;
    margin-bottom: 6.4rem;
    padding-left: 0;
    list-style: none;
    font-size: 2.4rem;
    line-height: 1.176;
    font-weight: 500;
    letter-spacing: 0.02em;

    text-align: center;

    @media screen and (min-width: 30rem){
        text-align: left;
        font-size: 3.4rem;
        line-height: 1.176;
    }
}

.mobile-contacts__link {
    text-decoration: none;
    color: $font-main-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &--active,
    &:hover,
    &:focus {
        color: $font-accent-color;
    }
}

.mobile-contacts__item {
    &:not(:last-child) {
        margin-bottom: 3.2rem;
    }
}

.mobile-socials {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -1rem;
    margin-left: -1rem;
    padding-left: 0;


    font-size: 1.8rem;
    line-height: 1.22;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2196F3;
    text-align: center;


    @media screen and (min-width: 30rem){
        display: flex;
        text-align: left;
    }

}

.mobile-socials__item {
    margin-bottom: 1rem;

    &:not(:last-child)::after  {
        content: '';
        display: block;
        height: 100%;
        width: 0.2rem;
        position: absolute;
        top: 0;
        right: -1rem;

        background-color: rgba(33, 33, 33, 0.2);
    }

    @media screen and (min-width: 30rem){
        margin-bottom: 0rem;
        margin-right: 1rem;
        margin-left: 1rem;
        position: relative;
    }
}

.mobile-socials__link {
    text-decoration: none;
    color: inherit;
}
