.page-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.page-section--dark {
  background-color: $background-dark-color;
  color: $font-light-color;
}

.page-section--darker {
  background-color: $background-light-color;
}

.page-section__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
