.peculiarities {
  @extend %list;

  @media screen and (min-width: 48rem) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: -1.5rem;
    margin-left: -1.5rem;
  }
}

.peculiarities__item {
  @media screen and (max-width: 47.9375rem) {
    max-width: 45rem;
    margin-right: auto;
    margin-left: auto;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  @media screen and (min-width: 48rem) {
    flex-basis: calc(50% - 4 * 1.5rem);
    max-width: 35.4rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
  }

  @media screen and (min-width: 75rem) {
    flex-basis: calc((100% - 8 * 1.5rem)/4);
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
  }
}

.peculiarities__icon-card {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 0.4rem;
  background-color: $background-light-color;
  color: $font-accent-color;
}

.peculiarities__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
  height: 7rem;
}

.peculiarities__info {
  padding-top: 3rem;
  font-family: $main-font-family;
}

.peculiarities__title {
  margin-top: 0;
  margin-bottom: 1rem;

  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.1428;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $font-accent-secondary-color;

  @media screen and (min-width: 48rem) {
    text-align: left;
  }
}

.peculiarities__description {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $font-main-color;
}
