%input {
  display: block;
  width: 100%;
  margin: 0;

  font-family: inherit;
  color: inherit;

  background: transparent;

  filter: drop-shadow(0rem 4rem 4rem rgba(0, 0, 0, 0.15));
  border-radius: 0.4rem;
  border: 0.1rem solid rgba(33, 33, 33, 0.2);
  transition: border cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-form {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.form-card {
  font-family: $main-font-family;
}

.form-card__title {
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: bold;
  color: $font-accent-secondary-color;
  text-align: center;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form-input--mb1 {
  margin-bottom: 1rem;
}

.form-input--mb2 {
  margin-bottom: 2rem;
}

.form-input--mb3 {
  margin-bottom: 3rem;
}

.form-input__label--text {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  line-height: 1.167;
}

.form-input__label--footer {
  min-width: 62.807%;
  margin-right: 1.2rem;
}

.form-input__label--text-footer {
  @extend %block-title;
  display: block;
}

.form-input__label--checkbox {
  display: flex;
  align-items: center;
  padding-left: 3.6rem;
  font-size: 1.4rem;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.form-input__label--checkbox-text + .label-link {
  margin-left: 0.35rem;
}

.form-input__label {
  display: block;
  position: relative;
}

.form-input__inner {
  @extend %input;
  padding-left: 4.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 16rem;

  font-size: 1.2rem;
  line-height: 1.167;
}

.form-input__inner--footer {
  padding-left: 1.6rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.6rem;

  font-size: 1.6rem;
  line-height: 1.15;

  border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.form-input__inner:focus-within {
  border-color: $font-accent-color;
  outline: 0.1rem solid $font-accent-color;
}

.form-input__inner:focus-within + .form-input__icon {
  fill: $font-accent-color;
}

.form-input__inner::placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.form-input__inner--footer:not(:placeholder-shown) {
  border: 1px solid $font-accent-color;
}

.form-input__icon {
  position: absolute;
  bottom: 1.1rem;
  left: 1.2rem;

  display: flex;
  width: 1.8rem;
  height: 1.8rem;
  justify-content: center;
  align-items: center;

  fill: $font-accent-secondary-color;
}

.form-input__icon--checkbox {
  bottom: 50%;
  transform: translateY(50%);
  left: 1.3rem;
  width: 1.6rem;
  height: 1.6rem;
  border: 0.2rem solid $font-accent-secondary-color;
  border-radius: 0.2rem;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .icon {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    fill: $font-light-color;
    background: $font-accent-color;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.icon--user {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
}

.icon--phone {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
}

.icon--envelope {
  display: block;
  width: 1.5rem;
  height: 1.2rem;
}

.form-input__textarea {
  @extend %input;
  resize: none;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  font-size: 1.4rem;
  line-height: 1.14;
  letter-spacing: 0.01em;

  &:focus-within {
    border-color: $font-accent-color;
    outline: 0.1rem solid $font-accent-color;
  }
}

.checkbox:checked + .form-input__icon--checkbox .icon {
  opacity: 1;
}

.checkbox:checked + .form-input__icon--checkbox {
  border-color: $font-accent-color;
}

.checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
