.our-team {
  @extend %list;

  margin-top: -3rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.our-team__item {
  margin-top: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.team-member {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  background-color: $font-light-color;
  box-shadow:
    0px 0.1rem 0.3rem rgba(0, 0, 0, 0.12),
    0px 0.1rem 0.1rem rgba(0, 0, 0, 0.14),
    0px 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 0.4rem 0.4rem;
}

.team-member__info {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.team-member__name {
  margin-top: 0;
  margin-bottom: 1rem;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: $font-accent-secondary-color;
}

.team-member__position {
  margin-top: 0;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: $font-main-color;
}

.team-member-socials {
  @extend %list;
  justify-content: space-between;
}
