.button {
    display: inline-flex;
    border: 1px solid transparent;
    text-align: center;
    line-height: 1.625;

    font-size: 1.6rem;
    font-family: $main-font-family;
    font-weight: bold;
    background-color: transparent;
    fill: currentColor;

    cursor: pointer;
}

.button__primary {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    color: $font-light-color;

    background-color: $font-accent-color;
}

.button__burger-menu {
    margin-left: auto;
}

.button__burger-close {
    padding: 1rem;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}

.button__secondary {

}
