%block-title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: bold;
  line-height: 3.1rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $background-dark-color;
  font-family: $main-font-family;
  color: $font-light-color;
}

.footer-block--address {
  min-width: 23.1rem;
}

.footer-block--socials {
  min-width: 20.6rem;
}

.footer-block--mr70 {
  margin-right: 7rem;
}

.footer-block--larger {
  margin-left: auto;
  width: 100%;
}

.footer-address {
  font-style: inherit;
  font-size: 1.4rem;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address__text {
  display: inline-block;
  margin-bottom: 0.9rem;
}

.studio-socials {
  @extend %list;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.studio-socials__title {
  @extend %block-title;
}

.studio-socials__item {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-top: 0;
}
