.header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: $font-dark-color;

  border-bottom: 0.1rem solid $header-border-bottom;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav {
  @extend %list;
  display: flex;
}

.nav__item {
  color: $font-accent-secondary-color;

  &:not(:last-child) {
    margin-right: 5rem;
  }
}

.nav__link {
  @extend %link;
  position: relative;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    opacity: 0;
  }

  &:hover::after,
  &:focus::after,
  &--current::after {
    opacity: 1;
  }

  &--current,
  &:hover,
  &:focus {
    color: $font-accent-color;
  }
}

.nav__link--current::after,
.nav__link::after {
  position: absolute;
  bottom: -0.1rem;
  right: 0;
  content: '';
  display: block;
  height: 0.4rem;
  width: 100%;
  background-color: $font-accent-color;
  border-radius: 0.2rem;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  @extend %list;
  display: flex;
  align-items: center;
  margin-left: auto;
  color: $font-main-color;
}

.contacts__item--header {
  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.contacts__item--footer {
  &:not(:last-child) {
    margin-bottom: 0.9rem;
  }
}

.contacts__link--transparent {
  color: rgba(255, 255, 255, 0.6);
}

.contacts__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $font-accent-color;

    .contacts__icon {
      fill: $font-accent-color;
    }
  }
}
.contacts__icon {
  @extend %svg;
  margin-right: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  fill: $font-main-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
