.webstudio-logo {
  @extend %link;
  font-weight: bold;
  font-family: $accent-font-family;
  font-style: normal;
  font-size: 2.6rem;
  line-height: 1.192;
  letter-spacing: 0.03rem;
}

.webstudio-logo--mb {
  margin-bottom: 2rem;
}
.webstudio-logo__prefix {
  color: $font-accent-color;
}

.webstudio-logo__left-margin {
  margin-right: 9.3rem;
}
