.container {
  @extend %container;

  @media screen and (min-width: 30rem) {
    width: 48rem;
  }

  @media screen and (min-width: 48rem) {
    width: 76.8rem;
  }

  @media screen and (min-width: 75rem) {
    width: 120rem;
  }
}

.container__fixed {
  @extend %container;
  @media screen and (min-width: 30rem) {
    width: 48rem;
  }

  @media screen and (min-width: 48rem) {
    width: 76.8rem;
  }

  @media screen and (min-width: 75rem) {
    width: 120rem;
  }
}

.container--flex {
  @media screen and (min-width: 48rem) {
    display: flex;
    flex-wrap: wrap;
  }
}
